{% extends 'authentication/base.html' %}

{% block form_block %}
<section style="display: flex; align-items: center; justify-content: center;">
    {% include "includes/banner.html" with page_name="Change Password" %}
</section>

<section class="container my-5">
    <h1 class="mb-4">Change Password</h1>
    <a href="javascript:history.back()" class="btn btn-secondary mb-3">Go Back</a>
    <div class="row">
        <div class="col-11">
            <form method="post" class="my-4">
                {% csrf_token %}
                {{ form.as_p }}
                <button style="background-color: #B88E2F; color: #ffffff;" type="submit" class="btn">Reset Password</button>
            </form>
        </div>
    </div>
</section>
{% endblock form_block %}