
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Password Reset Complete</title>
    </head>
    <body style="display: flex; justify-content: center; ">
        <div>
            <pre style="font-size: 28px">
We've emailed you instructions for setting your password
If an account exists with the email you entered,
you should receive them shortly.</pre>
            <a href="{% url "login" %}"  style="font-size: 20px">Go to login</a>

        </div>
    </body>
</html>
