<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Password Reset Complete</title>
</head>

<body class="d-flex flex-column justify-content-center align-items-center vh-100">
    <div class="text-center">
        <div class="alert" role="alert" style="background-color: #f8f9fa; color: #333;">
            <h4 class="alert-heading">Password Reset Complete</h4>
            <p>We've emailed you instructions for setting your password. If an account exists with the email you
                entered, you should receive them shortly.</p>
        </div>
        <a href="{% url 'login' %}" style="background-color: #B88E2F; color: #ffffff;" class="btn">Go to login</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>