{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "authentication/css/base.css" %}">
    {% block authentication_css_files %}
    {% endblock authentication_css_files %}
{% endblock css_files %}

{% block content %}
    <main class="container-fluid _container">
        <div class="row h-100">
            <div class="col-xl-8 h-100">
                <img src="{% static 'authentication/images/login.png' %}"
                     alt="Stones"
                     class="img-fluid _img h-100">
            </div>
            <div class="col-xl-4 my-auto">
                {% block form_block %}
                {% endblock form_block %}
            </div>
        </div>
    </main>
{% endblock content %}
