* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* For debugging */
.red-border {
  border: 1px solid red;
}

.black-border {
  border: 1px solid black;
}

.blue-border {
  border: 1px solid blue;
}

.green-border {
  border: 1px solid green;
}
