.title {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  /* rem is more suitable */
  font-weight: 700;
  color: #333;
  text-align: center;
}

.subtitle {
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  color: #333;
  margin-bottom: 2rem;
  text-align: center;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

._btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #b88e2f;
  color: #fff;
  font-size: 1.25rem;
}

._btn:hover {
  color: white;
  background-color: #5e4919;
}

span {
  background-color: transparent !important;
  border-right: none !important;
}

.gold-outline:focus {
  border: 1px solid #b88e2f !important;
  outline: 1px solid #b88e2f !important;
  box-shadow: 0 0 6px #b88e2f;
}

.alert-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

@media (max-width: 768px) {
  .title {
    font-size: 1.75rem;
  }

  .subtitle {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }

  ._btn {
    padding: 12px;
    font-size: 1rem;
  }

  .container {
    padding: 20px;
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 40px;
  }

  .title {
    font-size: 2.5rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  ._btn {
    font-size: 1.5rem;
  }
}