.banner-row {
  position: relative;
  height: 30vh;
  max-height: 200px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.banner-row::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  max-height: inherit;
  opacity: 0.5;
  background-image: url('/static/images/banner.png');
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.filter-row {
  background-color: #f9f1e7;
}

/* products.html */
.product-container {
  gap: 1rem;
}

.product {
  height: 600px;
  min-width: 390px;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 6px;
  border: 1px solid #dadada80;
  outline: 1px solid #dadada80 !important;
  box-shadow: 0 0 6px #dadada;
}

.product img {
  object-fit: contain;
}

.product p {
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 1rem;
}

.product button {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
