{% load static %}
<div class="container-fluid explore-row">
    <div class="row align-items-center flex-column-reverse flex-sm-row">
        <div class="col-sm-6">
            <div class="explore-row__left-col m-auto">
                <h2 class="poppins-700 my-5 display-4">Discover the magical world of incense and stones now!</h2>
                <p class="poppins-500 my-5">
                    Enter the enchanting realm filled with the mystical scents of incense and the energizing power of stones, offering you inner peace and strength.
                </p>
                <a href="{% url "shopping" %}" class="btn mt-4 lotus-btn-primary">Expore More</a>
            </div>
        </div>
        <div class="col-sm-6">
            <img src="{% static 'lotus/images/explore-img.png' %}"
                 alt="Smoke and rock"
                 style="width: 100%; height: auto;">
        </div>
    </div>
</div>
