<footer class="footer">
    <div class="container px-4 py-2 h-100">
        <div class="row h-80">
            <div class="col">
                <h4 class="footer-title">Lotus Auro Naturel</h4>
                <address class="footer-address gray-text mt-4">Sakförarevägen 6 Lund / Sweden 22 657</address>
            </div>
            <div class="col">
                <p class="gray-text mb-0">Links</p>
                <ul class="list h-100 d-flex flex-column justify-content-evenly">
                    <li class="list-item">
                        <a href="{% url "home" %}" class="list-item-link">Home</a>
                    </li>
                    <li class="list-item">
                        <a href="{% url "shopping" %}" class="list-item-link">Shop</a>
                    </li>
                    <li class="list-item">
                        <a href="{% url "post_list" %}" class="list-item-link">Blog</a>
                    </li>
                    <li class="list-item">
                        <a href="{% url "privacy_policy" %}" class="list-item-link">Privacy Policy</a>
                    </li>
                    <li class="list-item">
                        <a href="{% url "faq" %}" class="list-item-link">FAQ</a>
                    </li>
                    <li class="list-item">
                        <a href="{% url "contact" %}" class="list-item-link">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="col mt-4 mt-sm-0">
                <p class="gray-text mb-0">Newsletter</p>
                <form action="{% url "subscription" %}"
                      method="post"
                      class="footer-form mt-4">
                    {% csrf_token %}
                    <div class="d-flex">
                        <input type="email"
                               name="email"
                               class="footer-form-input"
                               placeholder="Enter your email">
                        <button type="submit" class="footer-form-button ms-2">SUBSCRIBE</button>
                    </div>
                </form>

            </div>
        </div>
        <hr class="hr" />
        <div class="row h-20">
            <div class="col-10">
                <p class="poppins-500">© 2024 Lotus Auro Naturel</p>
            </div>
            <div class="col-2 d-flex justify-content-end">
                <a href="https://www.facebook.com/share/WuToGyaF3BRaTbZq/?mibextid=LQQJ4d"
                   class="icon"
                   target="_blank">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="https://www.instagram.com" class="icon ms-2" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://www.youtube.com" class="icon ms-2" target="_blank">
                    <i class="fa-brands fa-youtube"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
