{% load static %}
<div class="container-fluid banner position-relative"
     style="background-image: url({% static 'images/banner.png' %})">
    <div style="min-width: 180px; min-height:450px" class="position-absolute top-50 end-20px translate-middle-y banner-post-it">
        <p class="poppins-600">New Arrival</p>
        <h1 class="poppins-700 mt-4">Discover Our New Collection</h1>
        <p class="poppins-600 mt-4">Discover the newest arrivals of natural stones and enchanting incenses on our site!</p>
        <a href="{% url "shopping" %}" class="btn lotus-btn-primaryy mt-4">BUY NOW</a>
    </div>
</div>
