<div class="col-4 p-4 blog-container">
    <div class="card text-center">
        <img src="{{ post.img.url }}"
             class="card-img-top"
             alt="post image"
             class="blog-img"
             width="400"
             height="400">
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text blog-content"
               style="max-height: 58px;
                      min-height:58px">{{ post.content }}</p>

            {% if is_draft == True %}
                <a href="{% url "draft_post_detail" post.id %}"
                   class="btn btn-outline-secondary">Read more</a>
            {% else %}
                <a href="{% url "post_detail" post.id %}"
                   class="btn btn-outline-secondary">Read more</a>
            {% endif %}

        </div>
        <div class="card-footer text-body-secondary">By Admin | {{ post.date_posted }}</div>
    </div>
</div>
