.blog-container {
  max-width: 450px !important;
  min-width: 450px !important;
}

.blog-container h5 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Limit the number of lines to 2 */
  -webkit-box-orient: vertical;
  line-height: 1.8em; /* Adjust the line height as needed */
}

.blog-img {
  width: 400px !important;
  height: 400px !important;
}

.blog-content {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit the number of lines to 2 */
  -webkit-box-orient: vertical;
  line-height: 1.8em; /* Adjust the line height as needed */
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.post-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
