{% extends "lotus/base.html" %}
{% load static %}

{% block page_title %}
    Lotus - Home
{% endblock page_title %}

{% block lotus_css_files %}
    <link rel="stylesheet" href="{% static 'lotus/css/home.css' %}">
{% endblock lotus_css_files %}

{% block header %}
    <section id="banner-section">
        {% include "lotus/includes/banner-post-it.html" %}
    </section>
{% endblock header %}

{% block lotus_content %}
    <main>
        <section class="container text-center">
            <h2 class="poppins-600 text-center my-4">Lotus Blog</h2>
            <a class="btn btn-outline-secondary">View All Blogs</a>
            {% include "lotus/includes/latest-blogs.html" with latest_blogs=latest_blogs %}
        </section>

        <section class="mt-5">
            {% include "includes/badge-row.html" %}
        </section>

        <section class="my-5">
            {% include "lotus/includes/explore-row.html" %}
        </section>
    </main>
{% endblock lotus_content %}
