{% extends "lotus/base.html" %}
{% load static %}

{% block page_title %}
    Lotus - Home
{% endblock page_title %}

{% block lotus_css_files %}
    <link rel="stylesheet" href="{% static 'lotus/css/home.css' %}">
{% endblock lotus_css_files %}

{% block header %}
    <section id="banner-section">
        {% include "lotus/includes/banner.html" %}
    </section>
{% endblock header %}

{% block lotus_content %}
    <main>
        <h2 class="poppins-600 text-center my-5">Lotus Blog</h2>

        <section>
            {% include "lotus/includes/blog-posts.html" %}
        </section>

        <section class="mt-5">
            {% include "includes/badge-row.html" %}
        </section>

        <section class="my-5">
            {% include "lotus/includes/explore-row.html" %}
        </section>
    </main>
{% endblock lotus_content %}
