{% extends "lotus/base.html" %}
{% load static %}

{% block lotus_css_files %}
    <link rel="stylesheet" href="{% static 'lotus/css/home.css' %}">
{% endblock lotus_css_files %}

{% block lotus_content %}
    <main>
        <section id="banner-section">
            {% include "lotus/includes/banner.html" %}
        </section>

        <h2 class="poppins-600 text-center my-5">Lotus Blog</h2>

        <section>
            {% include "lotus/includes/blog-posts.html" %}
        </section>

        <section>
            {% include "lotus/includes/badge-row.html" %}
        </section>
    </main>
{% endblock lotus_content %}
