{% load static %}

<div class="container-fluid">
    <div class="row gap-3 justify-content-center">
        {% for product in products %}
            <div class="col-4 product">
                <img src="{% static product.img_path %}"
                     alt="{{ product.name }}"
                     width="375"
                     height="303">
                <h4 class="mt-4">{{ product.name }}</h4>
                <div>rating bar</div>
                <p>
                    <strong>€ {{ product.price }}</strong>
                </p>
                <button class="btn lotus-btn-primary">Read More</button>
            </div>
        {% endfor %}
    </div>
</div>
