{% extends "lotus/base.html" %}
{% load static %}

{% block lotus_css_files %}

    <link rel="stylesheet" href="{% static 'blog/css/post_detail.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock lotus_css_files %}

{% block header %}
    <section>
        {% include "includes/banner.html" with page_name="Draft Post Detail" %}
    </section>
{% endblock header %}


{% block lotus_content %}

<div class="container mt-5">
    
        <div class="d-flex justify-content-start mb-3">
            <a href="{% url 'draft_post_list' %}" class="btn btn-secondary">Go Back</a>
        </div>
        
        {% if user.is_superuser %}
        <div class="mb-3">
            <a class="btn btn-secondary btn-sm" href="{% url 'draft_post_edit' post.id %}">Finish</a>
            <a class="btn btn-danger btn-sm" href="{% url 'draft_post_confirm_delete' post.id %}">Delete</a>
        </div>
        {% endif %}
    
   

    <section class="media content-section">
                <div class="card text-center pb-3">
                    <div class="card-header">{{ post.post_type }}</div>
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <img class="card-img-top" src="{{ post.img.url }}" width="500" height="500">
                    </div>
                    <p class="card-text text-start ms-3">{{ post.content }}</p>
                    <div class="card-footer text-muted text-start">
                        <p class="d-inline ms-3">{{post.author}} - {{ post.date_posted|date:"F d, Y" }}</p>
                    </div>
                </div>
    </section>
</div>
   

{% endblock lotus_content %}
