{% extends "lotus/base.html" %}
{% load static %}

{% block page_title %}
    Lotus - Draft Posts
{% endblock page_title %}


{% block lotus_css_files %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock lotus_css_files %}

{% block header %}
    <section>
        {% include "includes/banner.html" with page_name="Draft Posts" %}
    </section>
{% endblock header %}

{% block lotus_content %}

    <main class="container-fluid">
        {% if messages %}
            {% for message in messages %}
                <div class="alert draft-alert alert-{{ message.tags }}">
                    {{ message }} - <a href="{% url 'post_list' %}">Go to blog</a>
                </div>
            {% endfor %}
        {% endif %}
        {% if draft_post_list.count == 0 %}
            <div class="col-12 text-center">
                <h2>No Post Drafts</h2>
                <a href="{% url 'post_list' %}" class="btn btn-outline-secondary">Go to blog</a>
            </div>
        {% else %}
            <div class="row justify-content-center">
                {% for post in draft_post_list %}
                    {% include "blog/includes/post.html" with post=post is_draft=True %}
                {% endfor %}
            </div>
        {% endif %}


    </main>
        <script src="{% static 'js/close-alerts.js' %}"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                closeAlerts('draft-alert', 5000);
            });
        </script>


{% endblock lotus_content %}
