{% extends "lotus/base.html" %}
{% load static %}

{% block page_title %}
    Lotus - Draft Posts
{% endblock page_title %}


{% block lotus_css_files %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock lotus_css_files %}

{% block header %}
    <section>
        {% include "includes/banner.html" with page_name="Draft Posts" %}
    </section>
{% endblock header %}

{% block lotus_content %}

    <main class="container-fluid">
        {% if messages %}
            {% for message in messages %}<div class="alert alert-{{ message.tags }}">{{ message }}</div>{% endfor %}
        {% endif %}

        <div class="row justify-content-center">
            {% for post in draft_post_list %}
                {% include "blog/includes/post.html" with post=post is_draft=True %}
            {% endfor %}
        </div>
    </main>


{% endblock lotus_content %}
