{% extends "lotus/base.html" %}
{% load static %}

{% block page_title %}
    Lotus - Posts
{% endblock page_title %}


{% block lotus_css_files %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock lotus_css_files %}

{% block header %}
    <section>
        {% include "includes/banner.html" with page_name="Blog Posts" %}
    </section>
{% endblock header %}

{% block lotus_content %}

    <main class="container-fluid">
        {% if messages %}
            {% for message in messages %}<div class="alert alert-plist alert-{{ message.tags }}">{{ message }}</div>{% endfor %}
        {% endif %}
        {% if user.is_superuser %}
            <a href="{% url 'post_new' %}" style="background-color: #B88E2F ; color: #ffffff;" class="btn">Add New Post</a>
            <a href="{% url 'draft_post_list' %}" class="btn btn-secondary">See Draft Posts</a>
        {% endif %}
        <div style="margin-left: 15px; margin-right: 15px;" class="row justify-content-center">
            {% for post in post_list %}
                {% include "blog/includes/post.html" with post=post is_draft=False %}
            {% endfor %}
        </div>
    </main>
        <script src="{% static 'js/close-alerts.js' %}"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                closeAlerts('alert-plist', 5000);
            });
        </script>


{% endblock lotus_content %}
