{% extends "lotus/base.html" %}
{% load static %}

{% block page_title %}
    Lotus - Posts
{% endblock page_title %}


{% block lotus_css_files %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock lotus_css_files %}

{% block header %}
    <section>
        {% include "includes/banner.html" with page_name="Posts" %}
    </section>
{% endblock header %}

{% block lotus_content %}

    <main class="container-fluid">
        {% if messages %}
            {% for message in messages %}<div class="alert alert-{{ message.tags }}">{{ message }}</div>{% endfor %}
        {% endif %}
        {% if user.is_superuser %}
            <a href="{% url 'post_new' %}" class="btn btn-primary">Add New Post</a>
            <a href="{% url 'draft_post_list' %}" class="btn btn-secondary">See Draft Posts</a>
        {% endif %}
        <div class="row justify-content-center">
            {% for post in post_list %}
                {% include "blog/includes/post.html" with post=post is_draft=False %}
            {% endfor %}
        </div>
    </main>


{% endblock lotus_content %}
