{% extends "lotus/base.html" %}
{% load static %}

{% block page_title %}
    Favorites
{% endblock page_title %}

{% block lotus_css_files %}
    <link rel="stylesheet" href="{% static 'css/banner.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/favorites.css' %}">
{% endblock lotus_css_files %}

{% block header %}
    <section>
        {% include "includes/banner.html" with page_name="Favorites" %}
    </section>
{% endblock header %}

{% block lotus_content %}
    <section class=" my-4">
        <div style="display: flex; align-items: baseline; justify-content: space-evenly; margin-left: 15px; margin-right: 15px;" class="row ">
            {% if is_empty %}
                <div class="col-12 text-center">
                    <h2 class="display-6">Your favorites list is empty</h2>
                    <a href="{% url "shopping" %}" class="btn lotus-btn-primary">Go to products</a>
                </div>
            {% else %}
                {% for product in favorites %}
                    <div class="col-3 product mb-5">
                        <img src="{{ product.img.url }}"
                             alt="{{ product.name }}"
                             width="375"
                             height="303">
                        <h4 class="mt-4">{{ product.name }}</h4>
                        <div class="d-flex justify-content-start">
                            <img src="{% static 'shopping/images/ic_star.png' %}"
                                 alt="star"
                                 width="24"
                                 height="24"
                                 class="me-2">
                            {{ product.rating }}/5
                        </div>
                        <p>
                            <strong>€ {{ product.price }}</strong>
                        </p>
                        <a href="{% url "product_detail" product.id %}"
                           class="btn lotus-btn-primary">Read More</a>
                        <a href="{% url "remove_from_favorites" product.id %}"
                           class="btn btn-outline-secondary mt-4">Remove from favorites</a>
                    </div>
                {% endfor %}
            {% endif %}

        </div>
    </section>
{% endblock lotus_content %}