{% extends "lotus/base.html" %}
{% load static %}

{% block lotus_css_files %}
    <link rel="stylesheet" href="{% static 'order/css/order-row.css' %}">
{% endblock lotus_css_files %}

{% block page_title %}
    Lotus - Orders
{% endblock page_title %}


{% block header %}
    <section>
        {% include "includes/banner.html" with page_name="Orders" %}
    </section>
{% endblock header %}

{% block lotus_content %}
    <section class="container my-5">
        {% if messages %}
            {% for message in messages %}<div class="alert alert-{{ message.tags }}">{{ message }}</div>{% endfor %}
        {% endif %}
        {% if orders.count == 0 %}
            <div class="col-12 text-center">
                <h2>No order yet</h2>
                <a href="{% url "shopping" %}" class="btn btn-outline-secondary">Continue Shopping</a>
            </div>
        {% else %}
            {% for order in orders %}
                {% include "order/includes/order-row.html" with order=order %}
            {% endfor %}
        {% endif %}

    </section>
{% endblock lotus_content %}
