<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Order Confirmation</title>
    </head>
    <body>
        <p>Hi {{ user.username }},</p>
        <p>Thank you for your order. Your order has been placed successfully.</p>
        <p>
            You can see the details of your order <a href="{{ protocol }}://{{ domain }}/{% url 'order_detail' order_id=order_id %}">here.</a>
        </p>
    </body>
</html>
