{% extends "lotus/base.html" %}
{% load static %}

{% block page_title %}
    {{ product.name }}
{% endblock page_title %}

{% block lotus_css_files %}
    <link rel="stylesheet"
          href="{% static 'shopping/css/product-detail.css' %}">
{% endblock lotus_css_files %}

{% block lotus_content %}
    <section class="container-fluid product-detail my-5">
        {% if messages %}
            {% for message in messages %}<div class="alert alert-{{ message.tags }}">{{ message }}</div>{% endfor %}
        {% endif %}

        <div>
            <a href="{{ prev_page }}" class="btn btn-secondary">Go Back</a>
        </div>
        {% if user.is_superuser %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1"
                   href="{% url 'edit_product' product.id %}">Edit</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1"
                   href="{% url 'product_confirm_delete' product.id %}">Delete</a>

            </div>
        {% endif %}

        <div class="row justify-content-center px-5">
            <div class="col img-col">
                <img src="{{ product.img.url }}"
                     alt="{{ product.name }}"
                     class="product-img">
            </div>
            <div class="col detail-col">
                <h1>{{ product.name }}</h1>
                <div class="d-flex justify-content-start">
                    <img src="{% static 'shopping/images/ic_star.png' %}"
                         alt="star"
                         width="24"
                         height="24"
                         class="me-2">
                    {{ product.rating }}/5
                </div>
                <p>
                    <strong>€ {{ product.price }}</strong>
                </p>
                <pre>{{ product.description }}</pre>
                <form method="post" action="{% url "add_to_cart" %}" class="my-4">
                    {% csrf_token %}
                    <input type="number"
                           name="quantity"
                           min="1"
                           value="{{ quantity }}"
                           step="1"
                           class="form-control product-count">
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    {% if not is_added_to_cart %}
                        <input type="hidden" name="post_type" value="add">
                        <button type="submit" class="btn lotus-btn-primary">Add to Cart</button>

                    {% else %}
                        <input type="hidden" name="post_type" value="update">
                        <button type="submit" class="btn lotus-btn-primary">Update Cart</button>
                    {% endif %}
                </form>
                {% if not is_favorited %}
                    <a href="{% url "add_to_favorites" product.id %}"
                       class="btn lotus-btn-primary">Add to Favorites</a>
                {% else %}
                    <a href="{% url "remove_from_favorites" product.id %}"
                       class="btn lotus-btn-primary">Remove from Favorites</a>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock lotus_content %}
