{% extends "lotus/base.html" %}
{% load static %}

{% block page_title %}
    {{ product.name }}
{% endblock page_title %}

{% block lotus_css_files %}
    <link rel="stylesheet"
          href="{% static 'shopping/css/product-detail.css' %}">
<script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>

{% endblock lotus_css_files %}

{% block lotus_content %}
    <section class="container-fluid product-detail my-5">
        {% if messages %}
            {% for message in messages %}<div class="alert alert-{{ message.tags }}">{{ message }}</div>{% endfor %}
        {% endif %}

        <div>
            <a href="{{ prev_page }}" class="btn btn-secondary">Go Back</a>
        </div>
        {% if user.is_superuser %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1"
                   href="{% url 'edit_product' product.id %}">Edit</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1"
                   href="{% url 'product_confirm_delete' product.id %}">Delete</a>

            </div>
        {% endif %}

        <div class="row justify-content-center px-5">
            <div class="col img-col">
                <img src="{{ product.img.url }}"
                     alt="{{ product.name }}"
                     class="product-img">
            </div>
            <div class="col detail-col">
                <h1>{{ product.name }}</h1>

                <p>
                    <strong>€ {{ product.price }}</strong>
                </p>
                <pre>{{ product.description }}</pre>
                <form method="post" action="{% url 'add_to_cart' %}" class="my-4">
                    {% csrf_token %}
                    <input type="number"
                           name="quantity"
                           min="1"
                           value="{{ quantity }}"
                           step="1"
                           class="form-control product-count">
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    {% if not is_added_to_cart %}
                        <input type="hidden" name="post_type" value="add">
                        <button type="submit" class="btn lotus-btn-primary">Add to Cart</button>

                    {% else %}
                        <input type="hidden" name="post_type" value="update">
                        <button type="submit" class="btn lotus-btn-primary">Update Cart</button>
                    {% endif %}
                </form>
                {% if not is_favorited %}
                    <a href="{% url 'add_to_favorites' product.id %}"
                       class="btn lotus-btn-primary">Add to Favorites</a>
                {% else %}
                    <a href="{% url 'remove_from_favorites' product.id %}"
                       class="btn lotus-btn-primary">Remove from Favorites</a>
                {% endif %}
            </div>
        </div>


    </section>

<!-- Rating Block -->
<div class="row">
    <div class="infoBar">

        <div class="rating">
            <small class="starSmallText" data-value=" {{ rating_average | floatformat:1 }}"> {{ rating_average | floatformat:1 }}</small>
            <i class="fa fa-star starSmall" data-value="1"></i>
            <i class="fa fa-star starSmall" data-value="2"></i>
            <i class="fa fa-star starSmall" data-value="3"></i>
            <i class="fa fa-star starSmall" data-value="4"></i>
            <i class="fa fa-star starSmall" data-value="5"></i>
        </div>
        <p class="rate-count">{{ rating_count }} Rating</p>
    </div>
</div>
<div class="row scrolling-wrapper">


{% for rate in product.product_ratings.all %}
        <div class="col-md-3 card">
        <div class="row no-gutters">
            <div class="card-body">
                <div class="rating">
                    <small class="starSmallText" data-value="{{rate.score}}">{{rate.score}}</small>
                    <i class="fa fa-star starSmall" data-value="1"></i>
                    <i class="fa fa-star starSmall" data-value="2"></i>
                    <i class="fa fa-star starSmall" data-value="3"></i>
                    <i class="fa fa-star starSmall" data-value="4"></i>
                    <i class="fa fa-star starSmall" data-value="5"></i>
                </div>
                <h5 class="card-title">{{rate.rater}}</h5>
                <small class="card-title">{{rate.comment}}</small>


            </div>
        </div>
    </div>
    {% endfor %}

</div>



<script>
    $(document).ready(function () {

        $('.starSmallText').each(function (index) {
            var value = $(this).data("value");
            var $parent = $(this).parent();
            $parent.find('.starSmall').each(function (index) {


                if (index < value) {
                    $(this).addClass('selected');
                    var diff = value - index;
                    if (diff > 1) {
                        $(this).css('background', 'linear-gradient(to right, gold 100%, #ddd 0%)');

                    } else {
                        var percent = diff * 100;
                        $(this).css('background', 'linear-gradient(to right, gold ' + percent + '%, #ddd 0%)');

                    }
                }
            });

        });

    });
</script>
<!-- Rating End Block-->
{% endblock lotus_content %}
