{% extends "lotus/base.html" %}
{% load static %}

{% block page_title %}
    Lotus - Shop
{% endblock page_title %}

{% block lotus_css_files %}
    <link rel="stylesheet" href="{% static 'css/banner.css' %}">
    <link rel="stylesheet" href="{% static 'shopping/css/shopping.css' %}">
{% endblock lotus_css_files %}

{% block header %}
    <section>
        {% include "includes/banner.html" with page_name="Shop" %}
    </section>
{% endblock header %}

{% block lotus_content %}
    {% if messages %}
        {% for message in messages %}<div class="alert alert-{{ message.tags }}">{{ message }}</div>{% endfor %}
    {% endif %}
    <section>
        {% include "shopping/includes/filter-row.html" %}
    </section>

    {% if user.is_superuser %}
        <a href="{% url "add_product" %}" class="btn btn-primary ms-5 mt-2">Add New Product</a>
    {% endif %}

    {% if is_empty %}
        <div class="col-12 text-center">
            <h2>Nothing Found</h2>
            <a href="{% url "shopping" %}" class="btn btn-outline-secondary">Continue Shopping</a>
        </div>
    {% else %}
        <section class="my-5">
            {% include "shopping/includes/products.html" with products=products %}
        </section>
    {% endif %}








    <section class="my-5">
        {% include "includes/badge-row.html" %}
    </section>
{% endblock lotus_content %}
