{% extends "lotus/base.html" %}
{% load static %}

{% block page_title %}
    Lotus - Shop
{% endblock page_title %}

{% block lotus_css_files %}
    <link rel="stylesheet" href="{% static 'css/banner.css' %}">
    <link rel="stylesheet" href="{% static 'shopping/css/shopping.css' %}">
{% endblock lotus_css_files %}

{% block header %}
    <section>
        {% include "includes/banner.html" with page_name="Shop" %}
    </section>
{% endblock header %}

{% block lotus_content %}
    <section>
        {% include "shopping/includes/filter-row.html" %}
    </section>

    <section class="my-5">
        {% include "shopping/includes/products.html" with products=products %}
    </section>

    <section class="my-5">
        {% include "includes/badge-row.html" %}
    </section>
{% endblock lotus_content %}
