{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'lotus/css/base.css' %}">
    {% block lotus_css_files %}
    {% endblock lotus_css_files %}
{% endblock css_files %}

{% block content %}
    <header>
        {% include "lotus/includes/navbar.html" %}
        {% block header %}
        {% endblock header %}
    </header>

    {% block lotus_content %}
    {% endblock lotus_content %}

    <hr class="hr" />
    {% include "lotus/includes/footer.html" %}
{% endblock content %}
