{% extends "lotus/base.html" %}
{% load static %}

{% block lotus_css_files %}
    <link rel="stylesheet" href="{% static 'css/banner.css' %}">
{% endblock lotus_css_files %}

{% block page_title %}
    Lotus - Contact
{% endblock page_title %}


{% block header %}
    <section>
        {% include "includes/banner.html" with page_name="Contact" %}
    </section>
{% endblock header %}

{% block lotus_content %}
    <section class="container my-5">
        {% if messages %}
            {% for message in messages %}<div class="alert alert-contact alert-{{ message.tags }}">{{ message }}</div>{% endfor %}
        {% endif %}
        <div class="row justify-content-between">
            <div class="col-md-6 mb-4">
                <h2>Get in touch</h2>
                <p>
                    Feel free to contact us with any questions or comments you may have. We will get back to you as soon as possible.
                </p>
                <form method="post" action="{% url "contact" %}">
                    {% csrf_token %}
                    <div class="form-group mb-2">
                        <label for="name">Name</label>
                        <input type="text"
                               class="form-control"
                               id="name"
                               name="name"
                               placeholder="Enter your name">
                    </div>
                    <div class="form-group mb-2">
                        <label for="email">Email</label>
                        <input type="email"
                               class="form-control"
                               id="email"
                               name="email"
                               placeholder="Enter your email">
                    </div>
                    <div class="form-group mb-2">
                        <label for="message">Message</label>
                        <textarea class="form-control" id="message" name="message" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn lotus-btn-primary">Submit</button>
                </form>
            </div>
            <div class="col-md-6 mb-4">
                <h2>Our Location</h2>
                <address>Sakförarevägen 6 Lund / Sweden 22 657</address>
                <p>
                    Email:
                    <a href="mailto:" class="text-primary">lotusauranaturall@gmail.com</a>
                </p>
                <p>Hours: Monday - Friday 9am - 5pm</p>
            </div>
        </div>
    </section>

    <section class="my-5">
        {% include "includes/badge-row.html" %}
    </section>
    <script src="{% static 'js/close-alerts.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            closeAlerts('alert-contact', 5000);
        });
    </script>

{% endblock lotus_content %}
