{% load static %}
<div class="container-fluid filter-row">
    <div 
     style="gap: 30px;"
     class="row ps-3 py-3">
        <div class="col-2 dropdown">
            <button type="button"
                    class="btn d-flex poppins-400 ms-1 mb-0"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    data-bs-auto-close="outside">
                <img src="{% static 'shopping/images/ic_filter.png' %}"
                     alt="Filter"
                     class="me-1"
                     width="20"
                     height="20">
                Filter
            </button>

            <div class="dropdown-menu p-4">

                <form action="{% url "shopping" %}" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <input type="checkbox"
                               id="bracelet"
                               name="bracelet"
                               value="bracelet"
                               {% if filters.bracelet %}checked{% endif %}>

                        <label for="bracelet">Bracelet</label>
                    </div>
                    <div class="mb-3">
                        <input type="checkbox"
                               id="pendulum"
                               name="pendulum"
                               value="pendulum"
                               {% if filters.pendulum %}checked{% endif %}>
                        <label for="pendulum">Pendulum</label>
                    </div>
                    <div class="mb-3">
                        <input type="checkbox"
                               id="natural_stone"
                               name="natural_stone"
                               value="natural_stone"
                               {% if filters.natural_stone %}checked{% endif %}>
                        <label for="natural_stone">Natural Stones</label>
                    </div>
                    <div class="mb-3">
                        <input type="checkbox"
                               id="incence"
                               name="incence"
                               value="incence"
                               {% if filters.incence %}checked{% endif %}>
                        <label for="incence">Incence</label>
                    </div>
                    <div class="mb-3">
                        <input type="checkbox"
                               id="chakra_stone"
                               name="chakra_stone"
                               value="chakra_stone"
                               {% if filters.chakra_stone %}checked{% endif %}>
                        <label for="chakra_stone">Chakra Stones</label>
                    </div>
                    <button style="background-color: #B88E2F; color: #ffffff;" type="submit" class="btn">Filter</button>
                </form>
                <hr>

                <form action="{% url "shopping" %}" method="post">
                    {% csrf_token %}
                    <input type="hidden"
                           id="remove_filters"
                           name="remove_filters"
                           value="remove_filters">
                    <button type="submit" class="btn btn-outline-secondary border-0 p-0 px-1">Remove filters</button>

                </form>

            </div>

        </div>

        <div class="col-2 dropdown">
            <button type="button"
                    class="btn d-flex poppins-400 ms-1 mb-0"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    data-bs-auto-close="outside">
                <img src="{% static 'shopping/images/ic_sort.png' %}"
                     alt="Sort"
                     class="me-1"
                     width="20"
                     height="20">
                Sort by

            </button>


            <form action="{% url "shopping" %}" method="post" class="dropdown-menu p-4">
                {% csrf_token %}

                <div class="mb-3">
                    <input type="radio"
                           id="price-low-to-high"
                           name="sort_option"
                           value="price-low-to-high"
                           {% if sort_option == "price-low-to-high" %}checked{% endif %}>
                    <label for="price-low-to-high">Price (low to high)</label>
                </div>

                <div class="mb-3">
                    <input type="radio"
                           id="price-high-to-low"
                           name="sort_option"
                           value="price-high-to-low"
                           {% if sort_option == "" %}checked{% endif %}>
                    <label for="price-high-to-low">Price (high to low)</label>
                </div>

                <div class="mb-3">
                    <input type="radio"
                           id="name-a-z"
                           name="sort_option"
                           value="name-a-z"
                           {% if sort_option == "name-a-z" %}checked{% endif %}>
                    <label for="name-a-z">Name (A-Z)</label>
                </div>

                <div class="mb-3">
                    <input type="radio"
                           id="name-z-a"
                           name="sort_option"
                           value="name-z-a"
                           {% if sort_option == "name-z-a" %}checked{% endif %}>
                    <label for="name-z-a">Name (Z-A)</label>
                </div>

                <button style="background-color: #B88E2F; color: #ffffff;" type="submit" class="btn">Sort Products</button>
            </form>
        </div>





    </div>
</div>
