{% load static %}

<div class="container-fluid">
    <div class="row gap-3 justify-content-center">
        {% for product in products %}
            <div class="col-4 product">
                <img src="{{ product.img.url }}"
                     alt="{{ product.name }}"
                     width="375"
                     height="303">
                <h4 class="mt-4" style="height:58px">{{ product.name }}</h4>
                <div class="d-flex justify-content-start">
                    <img src="{% static 'shopping/images/ic_star.png' %}"
                         alt="star"
                         width="24"
                         height="24"
                         class="me-2">
                    {{ product.get_ratings_average | floatformat:1 }}/5
                </div>
                <p>
                    <strong>€ {{ product.price }}</strong>
                </p>
                <a href="{% url 'product_detail' product.id %}"
                   class="btn lotus-btn-primary">Read More</a>
            </div>
        {% endfor %}
    </div>
    <nav class="d-flex justify-content-center mt-5"
         aria-label="Page navigation example">
        <ul class="pagination">
            {% if products.has_previous %}

                <li class="page-item">
                    <a class="page-link" href="?page=1">&laquo; First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ products.previous_page_number }}">Previous</a>
                </li>
            {% endif %}

            <li class="page-item disabled">
                <a class="page-link">Page {{ products.number }} of {{ products.paginator.num_pages }}</a>
            </li>


            {% if products.has_next %}

                <li class="page-item">
                    <a class="page-link" href="?page={{ products.next_page_number }}">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ products.paginator.num_pages }}">Last &raquo;</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
