{% load static %}
<div class="container-fluid badge-row">
    <div class="row">
        <div class="col d-flex justify-content-center badge-container">
            <img src="{% static 'lotus/images/trophy.png' %}" alt="Trophy">
            <div class="ms-1">
                <h6 class="poppins-600 m-0 p-0">High Quality</h6>
                <p class="gray-text">Crafted from top materials</p>
            </div>
        </div>

        <div class="col d-flex justify-content-center badge-container">
            <img src="{% static 'lotus/images/warranty.png' %}" alt="Trophy">
            <div class="ms-1">
                <h6 class="poppins-600 m-0 p-0">Warranty Protection</h6>
                <p class="gray-text">Over 2 years</p>
            </div>
        </div>

        <div class="col d-flex justify-content-center badge-container">
            <img src="{% static 'lotus/images/shipping.png' %}" alt="Trophy">
            <div class="ms-1">
                <h6 class="poppins-600 m-0 p-0">Free Shipping</h6>
                <p class="gray-text">Order over 150$</p>
            </div>
        </div>

        <div class="col d-flex justify-content-center badge-container">
            <img src="{% static 'lotus/images/support.png' %}" alt="Trophy">
            <div class="ms-1">
                <h6 class="poppins-600 m-0 p-0">24 / 7 Support</h6>
                <p class="gray-text">Dedicated support</p>
            </div>
        </div>
    </div>
</div>
