{% load static %}
<div class="container-fluid explore-row">
    <div class="row align-items-center">
        <div class="col">
            <div class="p-5">
                <h2 class="poppins-700 mb-3">Discover the magical world of incense and stones now!</h2>
                <p class="poppins-500">
                    Enter the enchanting realm filled with the mystical scents of incense and the energizing power of stones, offering you inner peace and strength.
                </p>
                <a href="#" class="btn btn-primary mt-4 lotus-btn-primary">Expore More</a>
            </div>
        </div>
        <div class="col">
            <img src="{% static 'lotus/images/explore-img.png' %}"
                 alt="Smoke and rock"
                 width="100%"
                 height="auto">
        </div>
    </div>
</div>
