<footer class="footer">
    <div class="container px-4 py-2 h-100">
        <div class="row h-80">
            <div class="col">
                <h4 class="footer-title">Lotus Auro Naturel</h4>
                <address class="footer-address gray-text mt-4">400 University Drive Suite 200 Coral Gables,
                FL 33134 USA</address>
            </div>
            <div class="col">
                <p class="gray-text mb-0">Links</p>
                <ul class="list h-100 d-flex flex-column justify-content-evenly">
                    <li class="list-item">
                        <a href="#" class="list-item-link">Home</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-item-link">Shop</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-item-link">About</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="list-item-link">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <p class="gray-text mb-0">Newsletter</p>
                <form action="#" class="footer-form mt-4">
                    <div class="d-flex">
                        <input type="email" class="footer-form-input" placeholder="Enter your email">
                        <button type="submit" class="footer-form-button ms-2">SUBSCRIBE</button>
                    </div>
                </form>

            </div>
        </div>
        <hr class="hr" />
        <div class="row h-20">
            <div class="col-10">
                <p class="poppins-500">© 2024 Lotus Auro Naturel</p>
            </div>
            <div class="col-2 d-flex justify-content-end">
                <a href="#" class="icon">
                    <i class="fa-brands fa-pinterest" style="color: #000;"></i>
                </a>
                <a href="#" class="icon ms-2">
                    <i class="fa-brands fa-instagram" style="color: #000;"></i>
                </a>
                <a href="#" class="icon ms-2">
                    <i class="fa-brands fa-twitter"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
