{% load static %}

<nav class="navbar navbar-light navbar-expand-xl bg-body-tertiary ">
    <div class="container-fluid">
        <div>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{% url "home" %}">
                <img src="{% static 'lotus/images/logo.png' %}"
                     alt="Logo"
                     class="d-inline-block nav-logo">
                <span class="navbar-text _navbar-text align-middle">Lotus Aura Naturel</span>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav w-100 justify-content-center mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link _nav-link active"
                       aria-current="page"
                       href="{% url "home" %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link _nav-link" href="{% url "shopping" %}">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link _nav-link" href="{% url "contact" %}">Contact</a>
                </li>
            </ul>

            <form class="d-flex" role="search">
                <input class="form-control me-2"
                       type="search"
                       placeholder="Search"
                       aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        <ul class="navbar-nav nav-icons flex-row justify-content-around">
            <li class="nav-item">
                <a class="nav-link active"
                   aria-current="page"
                   href="{% url "profile" %}">
                    <i class="fa-solid fa-user" style="color: #000"></i>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link active"
                   aria-current="page"
                   href="{% url "favorites" %}">
                    <i class="fa-solid fa-heart" style="color: #000"></i>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url "cart" %}">
                    <i class="fa-solid fa-cart-shopping" style="color: #000;"></i>
                </a>
            </li>

        </ul>
    </div>
</nav>
